/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.DS_Store
Thumbs.db
/hybridapp/.idea
/SwissKnifeApp/.idea/
/SwissKnifeApp/platforms/ios
/SwissKnifeApp/platforms/android
/SwissKnifeApp/merges/
/SwissKnifeApp/.cordova/