<div class="jumbotron">
  <img src='content/SwissKnifeLogo_Inverted.png' alt='Swiss Knife logo' id='jumbologo'>
  <h2>Swiss Knife, v1.0</h2>
  <p>SwissKnifeApp is the solution for all your festival needs. Available on Android and iOS.</p>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3>Developers</h3>
        <p>Swiss Knife is being brought to you by the following developers:</p>
        <ul>
            <li>Nico Verbruggen (<a href="http://twitter.com/nicoverbruggen">@nicoverbruggen</a>)</li>
            <li>Bjorn Van Acker (<a href="http://twitter.com/bjornvanacker">@bjornvanacker</a>)</li>
        </ul>
        <hr/>
        <h3>Technology</h3>
        <p>Swiss Knife makes use of the following technology:</p>
        <ul>
            <li><a href="#API">Swiss Knife API</a> (powered by <a href="http://laravel.com">Laravel</a>)</li>
            <li>Built for iOS and Android using <a href="http://cordova.apache.org">Cordova</a></li>
            <li>Main Javascript framework: <a href="http://angularjs.org">Angular.js</a></li>
            <li>Other libs: <a href="http://getbootstrap.com">Bootstrap</a>, <a href="https://github.com/ftlabs/fastclick">FastClick.js</a>, <a href="http://jquery.com">jQuery</a>, <a href="http://fontawesome.io">FontAwesome</a>, <a href="http://modernizr.com">Modernizr</a>, <a href="http://leafletjs.com">Leaflet</a></li>
        </ul>
        <hr/>
        <h3>Supported devices</h3>
        <ul>
            <li>Builds for Android SDK version 18. Runs on all Android devices with minimum SDK support.</li>
            <li>Builds for iOS 7.0 (with a few handmade fixes). Universal application runs on iPad and iPhone running iOS 7 or above.</li>
        </ul>
    </div>
</div>