<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#friends">Friends</a></li>
  <li class="active">{{ username }}</li>
</ol>
<div class='row' ng-show="userLoggedIn">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <hr>
    <h1><i class="fa fa-user"></i> {{ username }}</h1>
    <hr>
    <h2>User profile</h2>
    <p>{{friend["user_mail"]}}</p>
        <div class="row">
            <div class="col-xs-12">
                <leafletoneplace lfl-place="lflplace" class="map map-fs"></leafletoneplace>
            </div>
        </div>
    <hr/>
    <ul class="pager">
        <li class="previous"><a href="#friends">&larr; Back to Friends</a></li>
    </ul>
    <hr/>
        <div class="row">
            <img class="col-xs-4" ng-repeat="photo in friend['photos']" src="{{photo['photo_url']}}"/>
        </div>
    </div>
    
</div>
<div class="row" ng-hide="userLoggedIn">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p>You are not logged on. You can't use Friends.</p>
        </div>
    </div>