<div class='row'>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h1><i class="fa fa-user"></i> Friends</h1>
    
    <hr>
        <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <h2>Your Friends <button class="btn btn-default">+ Find A Friend</button></h2>
        <div class="list-group">
            <div class="sample" ng-init="users=[{'username':'johndoe', 'name':'John Doe'},
                                                {'username':'janeroe', 'name':'Jane Roe'},
                                                {'username':'bjorvack', 'name':'Bjorn Van Acker'},
                                                {'username':'nicoverbruggen', 'name':'Nico Verbruggen'}
                                               ]"></div>
            <input type="text" class="form-control" placeholder="Search friends" ng-model="searchFriend">
            <a ng-repeat="person in users | filter:searchFriend | orderBy:'name'" href="#friends/{{person.username}}" class="list-group-item"><strong>{{person.name}}</strong> ({{person.username}})</a>
        </div>
        <br/>
        </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h2>Friend Activity</h2>
                <div class="list-group">
                    <a href="#friends/johndoe/photo" class="list-group-item"><strong>John Doe</strong> has uploaded a new picture: "Me and me girlfriend enjoying #epic!"</a>
                    <a href="#friends/johndoe/photo#comments" class="list-group-item"><strong>Jane Roe</strong> has liked <strong>John Doe's picture</strong>: "Me and me girlfriend enjoying #epic!"</a>
                    <a href="#twitterwall" class="list-group-item"><strong>John Doe</strong> has tweeted: "#epic is really amazing! I like it!"</a>
                </div>
            </div>
        </div>
    </div>
</div>