<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li class="active">Friends</li>
</ol>
<div class='row'>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h1><i class="fa fa-user"></i> Friends</h1>
    <hr>
        <div class="row" ng-show="userLoggedIn">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h2>Your Friends <a href="#find/friends" class="btn btn-default">+ Find A Friend</a></h2>
            <hr/>
                <input type="text" class="form-control" id="input" placeholder="Search friends" ng-model="searchFriend">
            <hr/>
            <div class="list-group">
                <a ng-repeat="friend in user['friends'] | filter:searchFriend | orderBy:'user_username'" href="#friends/{{friend.user_username}}" class="list-group-item"><strong>{{friend.user_username}}</strong> {{friend.user_mail}}</a>
            </div>
            <br/>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h2>Friend Activity</h2>
            <hr/>
                <div class="list-group">
                    
                </div>
        </div>
        </div>
    </div>
</div>
    <div class="row" ng-hide="userLoggedIn">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p>You are not logged on. You can't use Friends.</p>
        </div>
    </div>
<!-- FIXES SHOULD LOAD LAST -->
<script src="scripts/fixes.js"></script>