<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1><i class="fa fa-clock-o"></i> Lineup</h1>
        <hr>
        <div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Main Stage</h2>
  </div>
  <div class="panel-body">
    <table class="table table-hover">
        <tr>
            <th>
                Hour
            </th>
            <th>
                Artist
            </th>
        </tr>
        <tr>
            <td class="td-hour">16:00</td>
            <td>Muse</td>
        </tr>
        <tr>
            <td class="td-hour">16:30</td>
            <td>The Killers</td>
        </tr>
        <tr>
            <td class="td-hour">17:00</td>
            <td>Foo Fighters</td>
        </tr>
        <tr>
            <td class="td-hour">17:30</td>
            <td>Slayer</td>
        </tr>
        <tr>
            <td class="td-hour">18:00</td>
            <td>Disconnected</td>
        </tr>
        <tr>
            <td class="td-hour">18:30</td>
            <td>John Mayer</td>
        </tr>
        <tr>
            <td class="td-hour">19:00</td>
            <td>Foo Fighters (Encore)</td>
        </tr>
        </table>
  </div>
</div>
        <div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Bis Stage</h2>
  </div>
  <div class="panel-body">
    <table class="table table-hover">
        <tr>
            <th>
                Hour
            </th>
            <th>
                Artist
            </th>
        </tr>
        <tr>
            <td class="td-hour">16:00</td>
            <td>Muse</td>
        </tr>
        <tr>
            <td class="td-hour">16:30</td>
            <td>The Killers</td>
        </tr>
        <tr>
            <td class="td-hour">17:00</td>
            <td>Foo Fighters</td>
        </tr>
        <tr>
            <td class="td-hour">17:30</td>
            <td>Slayer</td>
        </tr>
        <tr>
            <td class="td-hour">18:00</td>
            <td>Disconnected</td>
        </tr>
        <tr>
            <td class="td-hour">18:30</td>
            <td>John Mayer</td>
        </tr>
        <tr>
            <td class="td-hour">19:00</td>
            <td>Foo Fighters (Encore)</td>
        </tr>
        </table>
  </div>
</div>
    </div>
</div>