<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li class="active">Photos</li>
</ol>
<div class='row'>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h1><i class="fa fa-camera-retro"></i> Photos</h1>
    <hr/>
    <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
              <a href="#photo/anonymous/1"><img src="content/PhotoFeed/werchter.jpg" alt="placeholder"></a>
              <div class="caption">
              <p>Image posted by anonymous</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
              <a href="#photo/anonymous/1"><img src="content/PhotoFeed/werchter2.jpg" alt="placeholder"></a>
              <div class="caption">
              <p>Image posted by anonymous</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
              <a href="#photo/anonymous/1"><img src="content/PhotoFeed/werchter3.jpg" alt="placeholder"></a>
              <div class="caption">
              <p>Image posted by anonymous</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
              <a href="#photo/anonymous/1"><img src="content/PhotoFeed/werchter.jpg" alt="placeholder"></a>
              <div class="caption">
              <p>Image posted by anonymous</p>
            </div>
          </div>
        </div>
      </div>
    <hr/>
    <ul class="pager">
        <li class="previous"><a href="">Load More Photos</a></li>
    </ul>
    </div>
</div>