<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li class="active">Photos</li>
</ol>
<div class='row'>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h1><i class="fa fa-camera-retro"></i> Photos</h1>
    <hr/>
        <div class="row">
            <a ng-repeat="photo in photos" href="#photo/{{photo['photo_id']}}">
            <img class="col-xs-4" ng-src="http://localhost/HybridAPI/public/upload/{{photo['photo_url']}}"/>
            </a>
        </div>
    <hr/>
    <ul class="pager">
        <div ng-show="userLoggedIn">
        <li class="previous"><a href="#photo/upload">Upload your own photo</a></li>
        </div>
    </ul>
    </div>
</div>