<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#photo">Photo</a></li>
  <li class="active">{{ username }}'s photo</li>
</ol>
<div class='row'>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h1>Photo by {{ username }}</h1>
    <hr>
    <img class="photodetail" ng-src="{{publicpath}}upload/{{image}}"/>
    <hr/>
    <div ng-show="userLoggedIn">
    <form class="form-horizontal" role="form">
    <div class="form-group">
        <label for="comment_area" class="col-sm-2 control-label">Leave a comment behind</label>
        <div class="col-sm-10">
            <textarea class="form-control" rows="3" name="comment_area" id="comment_area"></textarea>
        </div>
        <div class="col-sm-offset-2 col-sm-10">
            <br/>
      <button type="submit" class="btn btn-default" ng-click="postComment()">Place comment</button>
    </div>
    </div>
    </form>
    </div>
   <div class="" ng-repeat="comment in comments">
       <span><strong>{{comment.user.user_username}}</strong> says:</span>
            <p class="well well-sm">{{comment.comment_body}}</p>
    </div>
    <ul class="pager">
        <li class="previous"><a href="#photo">&larr; Back to Photos</a></li>
    </ul>
    </div>  
</div>
<script src="scripts/fixes.js"></script>