<script src="bower_components/jquery-qrcode/jquery.qrcode.min.js"></script>
<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li class="active">Tickets</li>
</ol>
<div class='row'>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1><i class="fa fa-qrcode"></i> Tickets</h1>
        <hr>
        <div ng-hide="noTicket">
        <div ng-show="userLoggedIn" class='row virtual_ticket'>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <h1>{{ticket.event}}</h1>
                <hr/>
                <h2>Registered to {{ticket.username}}</h2>
                <hr/>
                <p><strong>Unique Code</strong>: <span id="ticketID">{{ticket.ticket_id}}</span></p>

                <p><strong>Email:</strong> {{ticket.email}}</p>

                <p><strong>Price paid</strong>: {{ticket.price}}</p>
                <hr/>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <qrcode size="200" data="{{ticket.ticket_id}}"></qrcode>
            </div>
        </div>
        </div>
    </div>
</div>
<div class="row" ng-show="noTicket">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <p>You have no ticket available or it has been used.</p>
    </div>
</div>
<div class="row" ng-hide="userLoggedIn">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <p>You are not logged in. Please login to continue.</p>
    </div>
</div>