<div class='row'>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1><i class="fa fa-twitter"></i> Latest Tweets</h1>
        <hr>
        <p class="subhead">What are they saying about this festival (#epic)?</p>
        <hr>
        <ul class="list-group">
            <li class="list-group-item"><p class="tweet"><span class="sender">@nicoverbruggen</span>: I hear this festival is great! #epic</p></li>
            <li class="list-group-item"><p class="tweet"><span class="sender">@bjorvack</span>: @nicoverbruggen: I heard the same! #epic</p></li>
            <li class="list-group-item"><p class="tweet"><span class="sender">@twu1</span>: Vette ambiance! #epic</p></li>
            <li class="list-group-item"><p class="tweet"><span class="sender">@shenwei</span>: Geweldige set van Foo Fighters! #epic #foolove</p></li>
            <li class="list-group-item"><p class="tweet"><span class="sender">@johnmayer</span>: Going on stage later today at EPIC festival! #epic</p></li>
            <li class="list-group-item"><p class="tweet"><span class="sender">@nicoverbruggen</span>: I hear this festival is great! #epic</p></li>
            <li class="list-group-item"><p class="tweet"><span class="sender">@bjorvack</span>: @nicoverbruggen: I heard the same! #epic</p></li>
            <li class="list-group-item"><p class="tweet"><span class="sender">@twu1</span>: Vette ambiance! #epic</p></li>
            <li class="list-group-item"><p class="tweet"><span class="sender">@shenwei</span>: Geweldige set van Foo Fighters! #epic #foolove</p></li>
            <li class="list-group-item"><p class="tweet"><span class="sender">@johnmayer</span>: Going on stage later today at EPIC festival! #epic</p></li>
            <li class="list-group-item"><p class="tweet"><span class="sender">@nicoverbruggen</span>: I hear this festival is great! #epic</p></li>
            <li class="list-group-item"><p class="tweet"><span class="sender">@bjorvack</span>: @nicoverbruggen: I heard the same! #epic</p></li>
            <li class="list-group-item"><p class="tweet"><span class="sender">@twu1</span>: Vette ambiance! #epic</p></li>
            <li class="list-group-item"><p class="tweet"><span class="sender">@shenwei</span>: Geweldige set van Foo Fighters! #epic #foolove</p></li>
            <li class="list-group-item"><p class="tweet"><span class="sender">@johnmayer</span>: Going on stage later today at EPIC festival! #epic</p></li>
            <li class="list-group-item"><p class="tweet"><span class="sender">@nicoverbruggen</span>: I hear this festival is great! #epic</p></li>
            <li class="list-group-item"><p class="tweet"><span class="sender">@bjorvack</span>: @nicoverbruggen: I heard the same! #epic</p></li>
            <li class="list-group-item"><p class="tweet"><span class="sender">@twu1</span>: Vette ambiance! #epic</p></li>
            <li class="list-group-item"><p class="tweet"><span class="sender">@shenwei</span>: Geweldige set van Foo Fighters! #epic #foolove</p></li>
            <li class="list-group-item"><p class="tweet"><span class="sender">@johnmayer</span>: Going on stage later today at EPIC festival! #epic</p></li>
            <li class="list-group-item"><p class="tweet"><span class="sender">@nicoverbruggen</span>: I hear this festival is great! #epic</p></li>
            <li class="list-group-item"><p class="tweet"><span class="sender">@bjorvack</span>: @nicoverbruggen: I heard the same! #epic</p></li>
            <li class="list-group-item"><p class="tweet"><span class="sender">@twu1</span>: Vette ambiance! #epic</p></li>
            <li class="list-group-item"><p class="tweet"><span class="sender">@shenwei</span>: Geweldige set van Foo Fighters! #epic #foolove</p></li>
            <li class="list-group-item"><p class="tweet"><span class="sender">@johnmayer</span>: Going on stage later today at EPIC festival! #epic</p></li>
            <li class="list-group-item"><p class="tweet"><span class="sender">@nicoverbruggen</span>: I hear this festival is great! #epic</p></li>
            <li class="list-group-item"><p class="tweet"><span class="sender">@bjorvack</span>: @nicoverbruggen: I heard the same! #epic</p></li>
            <li class="list-group-item"><p class="tweet"><span class="sender">@twu1</span>: Vette ambiance! #epic</p></li>
            <li class="list-group-item"><p class="tweet"><span class="sender">@shenwei</span>: Geweldige set van Foo Fighters! #epic #foolove</p></li>
            <li class="list-group-item"><p class="tweet"><span class="sender">@johnmayer</span>: Going on stage later today at EPIC festival! #epic</p></li>
            <li class="list-group-item"><p class="tweet"><span class="sender">@nicoverbruggen</span>: I hear this festival is great! #epic</p></li>
            <li class="list-group-item"><p class="tweet"><span class="sender">@bjorvack</span>: @nicoverbruggen: I heard the same! #epic</p></li>
            <li class="list-group-item"><p class="tweet"><span class="sender">@twu1</span>: Vette ambiance! #epic</p></li>
            <li class="list-group-item"><p class="tweet"><span class="sender">@shenwei</span>: Geweldige set van Foo Fighters! #epic #foolove</p></li>
            <li class="list-group-item"><p class="tweet"><span class="sender">@johnmayer</span>: Going on stage later today at EPIC festival! #epic</p></li>
            <li class="list-group-item"><p class="tweet"><span class="sender">@nicoverbruggen</span>: I hear this festival is great! #epic</p></li>
            <li class="list-group-item"><p class="tweet"><span class="sender">@bjorvack</span>: @nicoverbruggen: I heard the same! #epic</p></li>
            <li class="list-group-item"><p class="tweet"><span class="sender">@twu1</span>: Vette ambiance! #epic</p></li>
            <li class="list-group-item"><p class="tweet"><span class="sender">@shenwei</span>: Geweldige set van Foo Fighters! #epic #foolove</p></li>
            <li class="list-group-item"><p class="tweet"><span class="sender">@johnmayer</span>: Going on stage later today at EPIC festival! #epic</p></li>
            <a href="" class="list-group-item">Load more tweets!</a>
        </ul>
        <br/>
    </div>
</div>