<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li class="active">Twitter</li>
</ol>
<div class='row'>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1><i class="fa fa-twitter"></i> Latest Tweets</h1>
        <hr>
        <p class="subhead">What is being tweeted? Tweets by @nicoverbruggen (use your own widget here!)</p>
        <hr>
        <div id="twitterdiv">
        <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/nicoverbruggen" data-widget-id="397837482676330496">Tweets by @nicoverbruggen</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
        <br/>
    </div>
</div>