<div class='row'>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1><i class="fa fa-twitter"></i> Latest Tweets</h1>
        <hr>
        <p class="subhead">What are they saying about this festival (#epic)?</p>
        <hr>
        <div class="list-group">
            <a href="" class="list-group-item twitteritem">
                      <img src="content/twitteravatar.png" />
                      <p class="list-group-item-text twittertext"><strong>@nicoverbruggen</strong>: Take a look at the map. I love this thing.</p>
            </a>
            <!-- COPIES HERE -->
            <a href="" class="list-group-item twitteritem">
                      <img src="content/twitteravatar.png" />
                      <p class="list-group-item-text twittertext"><strong>@nicoverbruggen</strong>: Take a look at the map. This is a longer tweet, for your reference.</p>
            </a>
            <a href="" class="list-group-item twitteritem">
                      <img src="content/twitteravatar.png" />
                      <p class="list-group-item-text twittertext"><strong>@nicoverbruggen</strong>: Can you believe this shit is modular? I sure can't. #funfun</p>
            </a>
            <a href="" class="list-group-item twitteritem">
                      <img src="content/twitteravatar.png" />
                      <p class="list-group-item-text twittertext"><strong>@nicoverbruggen</strong>: Yes, I love crafting beautiful experiences. Whatever that means.</p>
            </a>
            <a href="" class="list-group-item">&larr; Load more tweets!</a>
        </div>
        <br/>
    </div>
</div>