<div class="jumbotron">
  <img src='content/SwissKnifeLogo_Inverted.png' alt='Swiss Knife logo' id='jumbologo'>
  <h2>Welcome to Swiss Knife App!</h2>
  <p>SwissKnifeApp is the solution for all your festival needs. Scroll down to see what features are available.</p>
</div>
<div class="row">
    <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Offline Functionality</h3>
            </div>
            <div class="panel-body">
                <p>Some of the functionality of the app will work if you are offline. This includes:</p>
              <div class="list-group">
                  <a href="#lineup" class="list-group-item">
                      <h4 class="list-group-item-heading"><i class="fa fa-clock-o"></i> Festival Lineup</h4>
                      <p class="list-group-item-text">See who and when is playing.</p></a>
                  <a href="#map" class="list-group-item">
                      <h4 class="list-group-item-heading"><i class="fa fa-map-marker"></i> Festival Map</h4>
                      <p class="list-group-item-text">Not sure where you are? Take a look at the map.</p>
                  </a>
              </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Online Functionality</h3>
            </div>
            <div class="panel-body">
                <p>You'll need to be connected to the internet with your device in order to use the following content:</p>
                    <div class="list-group">
                    <a href="#friends" class="list-group-item">
                        <h4 class="list-group-item-heading"><i class="fa fa-user"></i> Friends</h4>
                        <p class="list-group-item-text">What are your friends doing right now?</p>
                    </a>
                    <a href="#photos" class="list-group-item">
                        <h4 class="list-group-item-heading"><i class="fa fa-camera"></i> Photos</h4>
                        <p class="list-group-item-text">Take pictures and upload them to your photo stream.</p>
                    </a>
                    <a href="#tickets" class="list-group-item">
                        <h4 class="list-group-item-heading"><i class="fa fa-money"></i> Tickets</h4>
                        <p class="list-group-item-text">Scan your tickets and have a proof of purchase with you at all times.</p>
                    </a>
                    <a href="#twitterwall" class="list-group-item">
                        <h4 class="list-group-item-heading"><i class="fa fa-twitter"></i> Twitterwall</h4>
                        <p class="list-group-item-text">See what people are tweeting about this festival.</p>
                    </a>
                    </div>
                <p>If you are not connected to the internet, these features will not work.</p>
            </div>
        </div>
    </div>
</div>