<ol class="breadcrumb">
  <li class="active">Home</li>
</ol>
<div ng-hide="userLoggedIn" id="alert-box" class="alert alert-warning" >
<strong>You haven't logged in yet.</strong> You can use <em>some</em> of the functionality.
</div>
<hr/>
<!--<div class="jumbotron">
  <img src='content/SwissKnifeLogo_Inverted.png' alt='Swiss Knife logo' id='jumbologo'>
  <h2>Welcome to Swiss Knife App!</h2>
  <p>SwissKnifeApp is the solution for all your festival needs. Scroll down to see what features are available.</p>
</div>-->
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Offline Functionality</h3>
            </div>
            <div class="panel-body">
                <p>Some of the functionality of the app will work if you are offline.</p>
              <div class="list-group withicon">
                  <a href="#lineup" class="list-group-item">
                      <i class="fa fa-clock-o fa-3x list-group-item-icon"></i>
                      <h4 class="list-group-item-heading">Festival Lineup</h4>
                      <p class="list-group-item-text"> See who and when is playing.</p></a>
                  <a href="#map" class="list-group-item">
                      <i class="fa fa-map-marker fa-3x list-group-item-icon"></i>
                      <h4 class="list-group-item-heading">Festival Map</h4>
                      <p class="list-group-item-text">Not sure where you are? Take a look at the map.</p>
                  </a>
              </div>
            </div>
            <div class="panel-footer">You do not need to be connected to the internet to use these features.</div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Online Functionality</h3>
            </div>
            <div class="panel-body">
                <p>You'll need to be connected to the internet with your device in order to use the following content:</p>
                    <div class="list-group">
                    <a href="#friends" class="list-group-item">
                        <i class="fa fa-user fa-3x list-group-item-icon"></i>
                        <h4 class="list-group-item-heading">Friends</h4>
                        <p class="list-group-item-text">What are your friends doing right now?</p>
                    </a>
                    <a href="#photo" class="list-group-item">
                        <i class="fa fa-camera-retro fa-3x list-group-item-icon"></i>
                        <h4 class="list-group-item-heading"> Photos</h4>
                        <p class="list-group-item-text">Take pictures and upload them to your photo stream.</p>
                    </a>
                    <a href="#tickets" class="list-group-item">
                        <i class="fa fa-money fa-3x list-group-item-icon"></i>
                        <h4 class="list-group-item-heading">Tickets</h4>
                        <p class="list-group-item-text">Scan your tickets and have them with you at all times.</p>
                    </a>
                    <a href="#twitterwall" class="list-group-item">
                        <i class="fa fa-twitter fa-3x list-group-item-icon"></i>
                        <h4 class="list-group-item-heading">Twitterwall</h4>
                        <p class="list-group-item-text">See what people are tweeting about this festival.</p>
                    </a>
                    </div>
            </div>
            <div class="panel-footer">If you are not connected to the internet, these features will not be available.</div>
        </div>
    </div>
</div>