.navbar {
  border-radius: 0 !important; }

/* Sticky footer styles
      -------------------------------------------------- */

      html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        width: auto;
        max-width: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -40px;
      }
      
      #view{
          padding-left: 5%;
          padding-right: 5%;
          width: 90%;
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 40px;
      }
      #footer {
        background-color: #f5f5f5;
      }
      
      #footer{
          padding-top: 9px;
      }
      
      .usernamecheck{
          margin-top: 10px;
      }